 .react-calendar-heatmap text {
    font-size: 7px;
    fill: #45391c;
  }
  
  .react-calendar-heatmap .react-calendar-heatmap-small-text {
    font-size: 5px;
  }
  
  .react-calendar-heatmap rect:hover {
    stroke: #555;
    stroke-width: 1px;
  }
  
  .react-calendar-heatmap .color-0 {
    fill: #fff4db;
  }
  .react-calendar-heatmap .color-1 {
    fill: #cfbc8f;
  }
  .react-calendar-heatmap .color-2 {
    fill: #a8966a;
  }
  .react-calendar-heatmap .color-3 {
    fill: #786841;
  }
  .react-calendar-heatmap .color-4 {
    fill: #45391c;
  }
  