.aboutUs .body {
    background-color: #F2F1E5;
}

.aboutUs .user {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.aboutUs .horizontalChart {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
}

.aboutUs .icon {
    height: 8rem;
    width: 8rem;
    background-color: #9e835a;
}

.aboutUs .userInfo {
    padding-right: 3rem;
    text-align: center;
}

.aboutUs .addUser {
    padding-left: 3rem;
    text-align: center;
    line-height: 2rem;
}

.aboutUs .button {
    background-color: #4c87af;
    border: none;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 5px 19px;
    cursor: pointer;
  }
