.friendSuggestion {
    display: flex;
    align-items: center;
    justify-content: center;
}

.friendSuggestion .friend {
    border: none;
    margin: 0 auto;
    background-color: #abe1ff;
}

.list-group {
    display: inline !important; 
}