.generateAvatar {
    justify-content: center;
    text-align: center;
    grid-gap: 2rem;
}

.generateAvatar .top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.generateAvatar .canvasContainer {
    display: inline-block;
}

.generateAvatar .canvas {    
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 30rem;
    height: 35rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    object-fit: fill;
    border: solid;
    border-color: black;
    border-width: 5px;
}

.generateAvatar .hair {
    margin-left: 7rem;
    margin-right: auto;
    position: absolute;
    max-width: 250px;
    object-fit: cover;
}

.generateAvatar .eye {
    margin-left: 205px;
    margin-right: auto;
    margin-top: 100px;
    max-width: 70px;
    position: absolute;
}

.generateAvatar .nose {
    margin-left: 230px;
    margin-right: auto;
    margin-top: 130px;
    max-width: 20px;
    position: absolute;
}

.generateAvatar .mouth {
    margin-left: 215px;
    margin-right: auto;
    margin-top: 142px;
    max-width: 50px;
    position: absolute;
}
.generateAvatar .womanBody {
    margin-left: 163px;
    margin-right: auto;
    margin-top: 171px;
    max-width: 150px;
    position: absolute;
    /* display: none; */
}

.generateAvatar .manBody {
    margin-left: 170px;
    margin-right: auto;
    margin-top: 172px;
    max-width: 150px;
    position: absolute;
    /* display: block; */
}
.generateAvatar .buttons {
    display: inline-block;
    height: 100%;
}

.generateAvatar .generateButton {
    display: block;
    width: 7rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: #fcf5d9;
    font-size: 1.5rem;
}

.generateAvatar .maleButton {
    width: 7rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: #9fdbf5;
    font-size: 1.5rem;
}

.generateAvatar .femaleButton {
    width: 7rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: #e374b5;
    font-size: 1.5rem;
}

.generateAvatar .submitButton {    
    width: 10rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 2rem;
    background-color: #a8966a;
    font-size: 1.5rem;
    color: #000000;
}