.generateAvatar {
    justify-content: center;
    text-align: center;
    grid-gap: 2rem;
}

.generateAvatar .canvas {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 30rem;
    height: 30rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    object-fit: fill;
}

.generateAvatar .hair {
    border: solid;
    border-color: black;
    border-width: 5px;
    position: absolute;
    object-fit: cover;
}

.generateAvatar .eye {
    margin-left: 160px;
    margin-right: auto;
    margin-top: 150px;
    max-width: 150px;
    position: absolute;
}

.generateAvatar .nose {
    margin-left: 215px;
    margin-right: auto;
    margin-top: 14rem;
    max-width: 35px;
    position: absolute;
}

.generateAvatar .mouth {
    margin-left: 200px;
    margin-right: auto;
    margin-top: 260px;
    max-width: 70px;
    position: absolute;
}

.generateAvatar .userName {
    margin-left: 200px;
    margin-right: auto;
    margin-top: 350px;
    font-size: 1.5rem;
    position: absolute;
}

.generateAvatar .generateButton {
    width: 7rem;
    height: 3rem;
    margin: 1rem;
    border-radius: 2rem;
    border-color: #8492A6;
    background-color: #Bac6c6;
    font-size: 1.5rem;
}

.generateAvatar .submitButton {
    width: 10rem;
    height: 4rem;
    margin: 1rem;
    border-radius: 1rem;
    border-color: black;
    border-width: 0.01rem;
    background-color: rgba(213,90,57);
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.generateAvatar .generateButton:hover,
.generateAvatar .submitButton:hover{
    opacity: 0.6;
    transform: scale(0.8);
    transition-duration: 0.5s;
}