.main {
    height: 100%;
    background-color: #abe1ff;
}

.main .text-info {
    color: rgba(255, 255, 255, 0.7);
}

.left-nav {
    display: flex;
    align-items: center;
    justify-content: center    
}

.search {
    display: inline-block;
    margin: 0 20px;
}

.signOutButton {
    display: inline-block;
}