.main {
    height: 100%;
}

.main .navbar-brand {
    font-size: 1.5rem;
}


.main .nav-link:hover{
    color: white !important;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}

.main .nav-link {
    margin: 0.1rem;
}

.main .nav-link:focus{
    color: white !important;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5rem;
}

.main .signOutButton:hover {
    opacity: 0.6;
    transform: scale(0.9);
    transition-duration: 0.5s;
}

.left-nav {
    display: flex;
    align-items: center;
    justify-content: center    
}

.search {
    display: inline-block;
    margin: 0 20px;
}

.signOutButton {
    display: inline-block;
}