.main {
    height: 100%;
    background-color: #49C3C8;
}

.main .text-info {
    color: rgba(255, 255, 255);
}

.navbar-default .navbar-brand {
    color: #d6d6d6;
}

.left-nav {
    display: flex;
    align-items: center;
    justify-content: center    
}

.search {
    display: inline-block;
    margin: 0 20px;
}

.signOutButton {
    display: inline-block;
}