.calendar {
    width: 100%;
    height: 100%;
}

.calendar .heatmap{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.calendar h1 {
    display: block;
    width: 100%;
    max-width: 24rem;
    margin: 0 auto;
    text-align: center;
}

.calendar h5 {
    display: block;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2rem;
}

.calendar p {
    display: block;
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
}

.calendar .colors {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.calendar .color0 {
    height: 1.2rem;
    width: 1.2rem;
    background-color: #ededed;
    margin-right: 0.3rem;
    margin-left: 1rem;
}

.calendar .color1 {
    height: 1.2rem;
    width: 1.2rem;
    background-color: #acd5f2;
    margin-right: 0.3rem;
    margin-left: 1rem;
}

.calendar .color2 {
    height: 1.2rem;
    width: 1.2rem;
    background-color: #7fa8d1;
    margin-right: 0.3rem;
    margin-left: 1rem;
}

.calendar .color3 {
    height: 1.2rem;
    width: 1.2rem;
    background-color: #49729b;
    margin-right: 0.3rem;
    margin-left: 1rem;
}

.calendar .color4 {
    height: 1.2rem;
    width: 1.2rem;
    background-color: #254e77;
    margin-right: 0.3rem;
    margin-left: 1rem;
}
