.userHome .body {
    background-color: #abe1ff;
    display: inline-block;
}

.userHome .input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userHome .today {
    text-align: center;
}

.userHome .inputRecords {
    display: inline-block;
    width: 80%;
    border: 0.1rem solid #ccc;
    border-radius: 0.2rem;
    box-sizing: border-box;
    background-color: #fcf5d9;
    /* #f5e3bc; */
}

.userHome .unitChoices {
    display: inline-block;
    margin-left: 2%;
    width: 18%;
    border: 0.1rem solid #ccc;
    border-radius: 0.2rem;
    box-sizing: border-box;
    background-color: #fcf5d9;
}

.userHome label {
    display: block;
    padding-top: 1.5rem;
    color: #474125;
}

.userHome .userInfo {
    padding-right: 8rem;
    text-align: center;
}

.userHome .addUser {
    padding-left: 8rem;
    text-align: center;
    line-height: 2rem;
}

.userHome .button {
    background-color: #7a6941;
    border: none;
    border-radius: 0.5rem;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 3rem;
    padding: 5px 200px;
    cursor: pointer;
  }

.userHome .icon {
    display: inline-block;
}
  
.userHome .hair {
    margin-left: 14rem;
    margin-right: auto;
    position: absolute;
    max-width: 250px;
    object-fit: cover;
}

.userHome .eye {
    margin-left: 315px;
    margin-top: 100px;
    max-width: 70px;
    position: absolute;
}

.userHome .nose {
    margin-left: 340px;
    margin-right: auto;
    margin-top: 130px;
    max-width: 20px;
    position: absolute;
}

.userHome .mouth {
    margin-left: 320px;
    margin-right: auto;
    margin-top: 135px;
    max-width: 65px;
    position: absolute;
}

.userHome .womanBody {
    margin-left: 275px;
    margin-right: auto;
    margin-top: 171px;
    max-width: 150px;
    position: absolute;
}

.userHome .manBody {
    margin-left: 275px;
    margin-right: auto;
    margin-top: 172px;
    max-width: 150px;
    position: absolute;
}